.chat-wrapper {
    background: conic-gradient(from 243deg at 34.28% 53.27%, #2FE8F3 61.40704035758972deg, #3762F8 104.97025609016418deg, #476FFF 140.79782009124756deg, #B9CCFF 219.68010663986206deg, #B75BFF 251.12568140029907deg, #2260FF 269.92607831954956deg, #39B8FF 289.14438486099243deg, #43A5FF 348.4036946296692deg);;
    height: 100vh;
    min-width: 600px;
    padding: 20px;
}

.chat-wrapper__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 0 90px;
}

.logo {
    max-width: 205px;
    width: 100%;
}

.chat-wrapper__glass {
    background: linear-gradient(161deg, rgba(103, 219, 255, 0.35) 1.17%, rgba(97, 138, 243, 0.35) 17.29%, rgba(82, 115, 209, 0.35) 43.66%, rgba(93, 106, 224, 0.35) 77.43%, rgba(20, 27, 98, 0.35) 100%);
    backdrop-filter: blur(12.5px);
    border: 1px solid #BDDFFF;
    border-radius: 25px;
    height: 100%;
    position: relative;
    width: 100%;
}

.chat-input-box {
    bottom: 18px;
    display: flex;
    justify-content: center;
    height: 55px;
    position: absolute;
    width: 100%;
}

.chat-input-box__item {
    background: var(--dark-blue-grad-01, linear-gradient(180deg, #172559 0%, #101C4A 100%));
    border: 2px solid #22357E;
    border-radius: 10px;
    max-width: 500px;
    outline: none;
    padding: 0 50px 0 20px;
    position: relative;
    transition: ease-in-out .3s;
    width: 100%;
}

.chat-input-box svg {
    position: absolute;
    right: 49px;
    transform: translate(0, 55%);
}

.chat-input-box__item:focus {
    border: 2px solid #7FB3FF;
}

.chat-input-box__item,
.chat-input-box__item::placeholder {
    color: #fff;
    font-size: 14px;
}


